// imports

@import 'base/reset';
@import 'base/base';

@import 'layout/header';
@import 'layout/nav';
@import 'layout/section';
@import 'layout/footer';
@import 'layout/blocks';
@import 'layout/products';
@import 'layout/cart';
@import 'layout/profile';
@import 'layout/add-product';
@import 'layout/register-newsletter';
@import 'layout/manager-users';

@import 'component/breadcrumb';
@import 'component/search';
@import 'component/pagination';
@import 'component/admin-nav';
@import 'component/form';


/*  MEDIA QUERIES  */

/*@media screen and (min-width: 960px) and (max-width: 1280px) {/* /* Largeur quand l'écran est inférieure à 1280px et supérieure à 960px */
    /*#headerMainBlock {
        width: 780px; *//* Ce sera aussi la taille du conteneur global */
   /* }
    .header-l {
        width: 90px;
    }
    .header-c {
        width: 470px;
    }
    .header-r {
        width: 220px;
    }
    nav > ul > li > a {
        padding: 0 18px;
        font-size: .8em;
    }
    nav > ul > li > ul > li > a {
        padding: 0 8px;
    }
    .btn-signup {
        margin-right: 4%;
        left: 4%;
    }
    .btn-signup, .btn-connect {
        padding: 6px 15px;
        left: 7%;
        font-size: .8em;
    }
    .bandeau-sectionTop {
      width: 780px;
    }
    #sectionTop {
        height: 276px;
    }
    #container, .block-titre-principal, .main-block, .titre-products, .container-news {
        width: 750px;
    }
	.container-block-news:first-child {
		margin-right: 8px;
	}
    .container-block-news {
        width: 371px;
        height: 371px;
    }
	.block-big {
		height: 371px;
	}
	.block-one {
		margin-right: 8px;
	}
    .block-large, .block-square {
        height: 181px;
    }
    .block-large {
        margin-bottom: 8px;
    }
    .block-square {
        width: 181px;
    }
    .block-big .news-block-1 {
        height: 325px;
    }
    .block-big .news-logo {
        height: 30px;
        line-height: 30px;
        font-size: .8em;
}
    .block-big .news-titre {
        line-height: 20px;
        font-size: .9em;
        max-height: 40px;
}
    .block-big .news-img {
        width: 315px;
        max-height: 210px;
        min-height: 190px;
}
    .block-big .news-desc {
        height: 40px;
}
    .block-big .news-desc p {
        font-size: .8em;
}
    .block-big:hover .block-hover {
        -webkit-transform: translateX(261px)!important;
            -ms-transform: translateX(261px)!important;
                transform: translateX(261px)!important;
    }
    .block-large:hover .block-hover {
        -webkit-transform: translateX(261px);
            -ms-transform: translateX(261px);
                transform: translateX(261px);
    }
    .block-square:hover .block-hover {
        -webkit-transform: translateX(71px);
            -ms-transform: translateX(71px);
                transform: translateX(71px);
    }
    .news-img-desc {
        max-height: 89px;
        min-height: 79px;
    }
    .block-large .news-logo {
        height: 25px;
        line-height: 26px;
        font-size: .7em;
    }
    .block-large .news-titre {
        font-size: .75em;
        line-height: 14px;
        max-height: 28px;
        padding: 0 24px;
    }
    .block-large .news-img {
        width: 140px;
    }
    .block-large .news-desc {
        width: 201px;
    }
    .block-large .news-block-1, .block-square .news-block-1 {
        height: 136px;
    }
    .block-large .news-img, .block-large .news-desc {
        max-height: 89px;
        min-height: 79px;
    }
    .block-square .news-logo {
        height: 22px;
        line-height: 21px;
        font-size: .6em;
    }
    .block-square .news-titre {
        line-height: 12px;
        font-size: .65em;
        max-height: 28px;
    }
    .block-square .news-img {
        width: 155px;
        height: 75px;
    }
    .form-container {
        width: 700px;
    }
    .form-container-block {
        margin: 10px 0 0 0;
    }
    .form-container-l, .form-container-r {
        width: 350px;
    }
    input[type="text"], input[type="password"], input[type="email"] {
        width: 200px;
        font-size: .7em;
    }
    label {
        font-size: .8em;
    }
    .form .error-msg {
        font-size: .67em;
        height: 24px;
        line-height: 12px;
    }
    .main-block.product-block {
        height: 200px;
    }
    .products {
        margin-bottom: 7px;
    }
    .container-products a:not(:nth-child(4n+4)) .products {
        margin-right: 8.77px;
    }
}

/*  FIN MEDIA QUERIES  */
