/*  PAGE PANIER  */

.block-panier h2 {
    color: #3d3d3d;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}
.block-panier .btn-go {
    width: 150px;
    margin: 0 auto;
    margin-top: 25px;
}
.block-panier table {
    width: 95%;
    margin: 0 auto;
}
.block-panier tr:not(:last-child) {
    border-bottom: 1px solid #999;
}
.block-panier table th {
    width: 16.66666666666667%;
    height: 10px;
}
.block-panier table td {
    width: 16.66666666666667%;
    height: 50px;
    padding: 25px 10px;
    vertical-align: middle;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
    font-size: .8em;
    line-height: 24px;
}
.block-panier td.panier-marque {
    color: #999;
    font-size: .7em;
}
.block-panier td.panier-image a {
    width: 39%;
    display: block;
    height: 140%;
    margin: 0 auto;
}
.block-panier td.panier-trash input{
    background: url('/game_zone/img/delete.svg') no-repeat center 50% / 70%;
    width: 50px;
    height: 40px;
    border: 0;
    outline: 0;
    outline-offset: 0;
    box-shadow: none;
    margin: 11px auto 15px auto;
}
.block-panier td.panier-quantite {
    position: relative;
}
.block-panier td.panier-quantite input {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 1.2em;
    padding: 0;
    border-radius: 4px;
    top: 50%;
    margin-top: -16px;
    transition: box-shadow .25s;
}
.block-panier td.panier-quantite .qte-span-1 {
    left: 16px;
}
.block-panier td.panier-quantite .qte-span-2 {
    right: 16px;
}
.block-panier td.panier-quantite span:hover {
    box-shadow: 1px 1px .1em #999;
}
.block-panier h3 {
    color: #3d3d3d;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 45px;
    margin-top: 45px;
}
.block-panier h3 a {
    color: #0085b2;
}
.total-step-1 {
    margin-top: 20px;
    text-align: right;
    color: #3d3d3d;
    font-family: 'Montserrat', sans-serif;
}
.total-step-1 .span-prix {
    text-align: right;
    color: #0085b2;
    margin-left: 40px;
    padding-right: 84px;
    font-family: 'Montserrat', sans-serif;
}
.btn-panier-step1 {
    float: right;
    width: 400px;
    padding-top:50px;
    height: 100px;
    margin-right: 70px;
    box-sizing: border-box;
}
.btn-panier-step1 a {
    display: inline-block;
    min-width: 100px;
    max-width: 184px;
    overflow: hidden;
    height: 13px;
    vertical-align: middle;
    margin-bottom: 0;
    margin-top: 0!important;
}
.btn-panier-step1 a:first-child {
    margin-right: 20px;
}
.panier-final-l, .panier-final-r {
    height: 370px;
    float: left;
    display: flex;
}
.panier-final-l {
    width: 500px;
    position: relative;
}
.panier-final-r {
    width: 430px;
}
.infos-produits, .infos-livraison {
    margin: auto;
    width: 80%;
    height: 80%;
}
.infos-produits {
    background: #fefefe;
}
.infos-livraison {
    background: #fff;
    border: 1px solid #999;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 1px 1px .05em .005em #999;
}
.infos-livraison h3 {
    font-size: .85em;
    margin-top: 25px;
    margin-bottom: 15px;
}
.infos-livraison h4 {
    font-size: .8em;
    margin-top: 25px;
    color: #999;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.container-checkbox {
    margin: 35px auto;
    width: 320px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #999;
    font-size: .8em;
}
.container-checkbox a {
    color: #0085b2;
}
input[type="checkbox"] {
    margin: 0 auto;
}
.infos-produits form input[type="submit"] {
    background: #14c314;
}
.infos-produits form input[type="submit"]:hover {
    background: linear-gradient(to bottom, #14c314, #218A0F);
}
.block-panier h3.prix-total {
    color: #0085b2;
    font-size: 1.2em;
}
.error-msg-cgv {
    position: absolute;
    height: 40px;
    width: 80%;
    bottom: 30px;
    left: 10%;
    margin: 0 auto;
    line-height: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    color: #F76C6C;
}
.infos-produits h3 {
    margin: 25px auto 32px auto;
}
tr.ligne-1 + div {
	display: none!important;
	width: 0!important;
	visibility: hidden!important;
}
.none-avis, .let-comment form {
    padding-top: 25px;
}
.let-comment {
    padding: 25px 0;
}
.let-comment h2 {
    color: #3d3d3d;
    text-align: center;
    font-size:.95em;
}
.let-comment h3 a {
    color: #0085b2;
    text-decoration: none;
}
.let-comment a {
    color: #3d3d3d;
}
.let-comment form {
    margin: 0 auto;
}
.form-container.comment {
    width: 500px;
}
.form-container.comment label {
    max-width: 430px;
    margin-top: 10px;
}
textarea {
    width: 500px;
    outline: 0;
    outline-offset: 0;
    border: none;
    height: 150px;
    border: 1px solid #999;
    resize: none;
    padding: 10px;
    border-radius: 4px;
    background: #eceaea;
}
#note {
    width: 140px;
    height: 32px;
    border-radius: 4px;
    border: none;
    outline: 0;
    outline-offset: 0;
    border: 1px solid #999;
}
#note:focus, textarea:focus {
    border: 1px solid #0085B2;
    box-shadow: 0 0 .05em #0085B2;
}
.form-container.comment .error-msg {
    text-align: left;
}
.inscription-ok h3, .inscription-ok h4 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #3d3d3d;
}
.inscription-ok h3 {
    margin-bottom: 15px;
    font-size: 1.1em;
}
.inscription-ok h3 span {
    color: #0085B2;
}
.inscription-ok h4 {
    font-size: .9em;
    line-height: 22px;
}

/*  FIN PAGE PANIER  */
