/*  PAGE INSCRIPTION NEWSLETTER  */

.inscr-newsletter h2 {
    color: #3d3d3d;
    text-align: center;
    line-height: 34px;
    font-family: 'Montserrat', sans-serif;
}
.inscr-newsletter h2 a {
    text-decoration: none;
    color: #0085B2;
}
.inscr-newsletter h2 span {
    color: #0085B2;
}

/*  FIN PAGE INSCRIPTION NEWSLETTER  */
